<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
        <ion-item button (click)="login()" >
          <ion-icon name="log-in"></ion-icon>
          <ion-label>
            <h3>Se connecter</h3>
          </ion-label>
        </ion-item>
        <ion-item button (click)="register()">
          <ion-icon name="person"></ion-icon>
          <ion-label>
            <h3>Creer un compte</h3>
          </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
