<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="loginForm" (submit)="login()">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="identifier"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Sign In</ion-button>
  </ion-list>
</form>
<ion-label><a routerLink="/register">Register</a></ion-label>
</ion-content>
